<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/application.log</file>
    <encoder>
      <pattern>%date - [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %coloredLevel %logger - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="events-file"/>
  </root>

  <logger name="play" level="INFO"/>
  <logger name="application" level="DEBUG"/>
  <logger name="akka://mongodb-akka" level="INFO" />

  <!-- EVENTS Logging Configuration -->
  <appender name="events-file" class="ch.qos.logback.core.FileAppender">
    <file>logs/cwc-roundtrip-publishone-events.log</file>
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  <logger name="nl.sdu.cwc.common.metrics.events" level="INFO">
    <appender-ref ref="events-file"/>
  </logger>

</configuration>
