@(environment: String, swsBaseUrl: String, version: Int, alerts: Seq[Alert]=Nil)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)
@main("CWC Roundtrip PublishOne", "home", environment, alerts) {

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col sm-12">
            <div class="card">
                <div class="card-header bg-info text-primary">Roundtrip documents queried in SWS via PublishOne</div>
                <div class="card-body">
                    <form id="exportForm" action='@routes.RoundTripController.roundTripByQuery()' method="POST">
                        <div class="form-group">
                            <label class="control-label" for="query">SWS query</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@swsBaseUrl/?</span>
                                </div>
                                <input type="text" class="form-control" id="query" name="query" aria-describedby="basic-addon3" required="required" value="">
                                <div class="input-group-append">
                                    <span class="input-group-text">&version=@version&order=documentFormat</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="documentType">Document type</label>
                            <div class="input-group mb-3">
                                <select name="documentType" id="documentType" class="form-control">
                                    <option value="commentaar">commentaar</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="destination">PublishOne destination path</label>
                            <div class="input-group mb-3">
                                <input name="destination" id="destination" class="form-control" required="required" value="42923"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="action">Action</label>
                            <div class="input-group mb-3">
                                <select name="action" id="action" class="form-control">
                                    <option value="ImportOnly">Import only</option>
                                    <option selected="selected" value="RoundTrip">Round-trip</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Start</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <h4>How to use this?</h4>
                    <p>Fill in the query (omitting the base url) and click on the Roundtrip button. All documents returned from SWS will be roundtripped via PublishOne.</p>
                    <p>The examples of query:</p>
                    <ul>
                        <li>type=pn&mode=full</li>
                        <li>published.publicationName=stb&published.publicationYear=2016&published.publicationNumber=213</li>
                        <li>about.altKey=caonr:CAO727</li>
                    </ul>
                    <p>The result <strong>must</strong> be ordered by documentFormat property</p>
                    <p>For more information about SWS Querying check <a href="@swsBaseUrl">SWS Swagger page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
}

