@(pageName: String, environment: String)
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1 navbar-@environment">
  <div class="container">
    <a class="navbar-brand" href="#">CWC Roundtrip PublishOne <small>@environment</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li @if(pageName=="home"){ class="nav-item active"} else { class="nav-item"}>
          <a class="nav-link" href="@routes.Application.index()">SWS query roundtrip</a>
        </li>
        <li @if(pageName=="bulk"){ class="nav-item active"} else { class="nav-item"}>
          <a class="nav-link" href="@routes.Application.uploadFile()">Bulk roundtrip</a>
        </li>
      </ul>
    </div>
  </div>
</nav>